// $beets-btn-aspect-font-size-sm: 		$beets-btn-font-size-sm;
// $beets-btn-aspect-font-size-lg: 		$beets-btn-font-size-lg;

$beets-btn-aspect-height:				35px; // Regular button height
$beets-btn-aspect-height-sm:			28.3667px; // Small button height
$beets-btn-aspect-height-lg:			44.25px; // Large button height

//
// Alternate buttons
//

@each $color, $value in $theme-colors {
	.btn-alt-#{$color} {
		@if $color == light {
			@include button-alt-variant(shade-color($value, 20%));
		} @else {
			@include button-alt-variant($value);
		}
	}
}

@each $color, $value in $theme-colors {
  .btn-ghost-#{$color} {
    @include button-ghost-variant($value);
  }
}

//
// Aspect ratio 1:1
//

@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);

		.btn-aspect#{$infix} {
			height: $beets-btn-aspect-height;
			width: $beets-btn-aspect-height;
			padding: 0;
			line-height: 0;

			&.btn-sm {
				height: $beets-btn-aspect-height-sm;
				width: $beets-btn-aspect-height-sm;
				// font-size: $beets-btn-aspect-font-size-sm;
			}

			&.btn-lg {
				height: $beets-btn-aspect-height-lg;
				width: $beets-btn-aspect-height-lg;
				// font-size: $beets-btn-aspect-font-size-lg;
			}
		}

		.btn-aspect#{$infix}-0 {
			@include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
			width: initial;
		}
	}
}

//
// Responsive block buttons
//

/* .btn-block-resp {
	@include media-breakpoint-down('sm') {
		display: block;
		width: 100%;

		// Vertically space out multiple block buttons
		+ .btn-block,
		+ .btn-block-resp {
			margin-top: 0.5rem;
		}
	}
} */