$beets-modal-footer-padding: $card-cap-padding-y ($card-cap-padding-x - $modal-footer-margin-between / 2); 

%title {
	letter-spacing: $headings-letter-spacing;
	font-weight: 500;
}

// Actual modal
.modal-content {
	box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14),0 9px 46px 8px rgba(0,0,0,0.12),0 11px 15px -7px rgba(0,0,0,0.2);
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
	// background-color: $light;
	height: 68px;
}

// Title text within header
.modal-title {
	@extend %title;
}

// Footer (for actions)
.modal-footer {
	background-color: $light;
  	padding: $beets-modal-footer-padding;
	height: 68px;
}