// Utilities

$utilities: map-merge(
  $utilities,
  (
    "rounded-end": map-merge(
      map-get($utilities, "rounded-end"),
      (
        values: map-merge(
          map-get(map-get($utilities, "rounded-end"), "values"),
          (pill: $border-radius-pill),
        ),
      ),
	),
	"rounded-start": map-merge(
      map-get($utilities, "rounded-start"),
      (
        values: map-merge(
          map-get(map-get($utilities, "rounded-start"), "values"),
          (pill: $border-radius-pill),
        ),
      ),
    ),
  )
);