// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

// scss-docs-start gray-color-variables
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
// scss-docs-end gray-color-variables

// fusv-disable
// scss-docs-start gray-colors-map
$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
) !default;
// scss-docs-end gray-colors-map
// fusv-enable

// scss-docs-start color-variables
$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;
// scss-docs-end color-variables

// scss-docs-start colors-map
$colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
) !default;
// scss-docs-end colors-map

// scss-docs-start theme-color-variables
$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
) !default;
// scss-docs-end theme-colors-map




// Color system

// $white:    #fff !default;
// $gray-100: #f8f9fa !default;
// $gray-200: #e9ecef !default;
// $gray-300: #dee2e6 !default;
// $gray-400: #ced4da !default;
// $gray-500: #adb5bd !default;
// $gray-600: #6c757d !default;
// $gray-700: #495057 !default;
// $gray-800: #343a40 !default;
// $gray-900: #212529 !default;
// $black:    #000 !default;

// $blue:    	#0d6efd;
// $red:     	#e12a2a;
// $green:  	#19871d;
// $cyan:    	#11ceea;
$crimson: 	#9a0044;

$beets-colors: (
  "crimson":	$crimson
);

$beets:			$crimson;

$beets-theme-colors: (
  "beets":		$beets
);

// CUSTOM COLORS
// start

$custom-color-1-name: 	"bubblegum";
$custom-color-1:		#d63384;

$custom-color-2-name:	"autumn";
$custom-color-2:		#fd7e14;

$custom-color-3-name: 	"spring";
$custom-color-3:		#20c997;

$beets-custom-theme-colors: (
  	$custom-color-1-name:		$custom-color-1,
  	$custom-color-2-name:		$custom-color-2,
  	$custom-color-3-name:		$custom-color-3
);

// CUSTOM COLORS
// end

$theme-colors: map-merge($theme-colors, $beets-theme-colors);
$theme-colors: map-merge($theme-colors, $beets-custom-theme-colors);

// scss-docs-start theme-colors-rgb
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value") !default;
// scss-docs-end theme-colors-rgb

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-negative-margins:     true;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-gutter-width:           30px;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$beets-spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $grid-gutter-width,
  6: $spacer * 3,
);

// Body
//
// Settings for the `<body>` element.

// $body-bg:                   	#f6f5f7;
// $body-bg:                   	#f9f8f9;
$body-color:                	$gray-900;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

// scss-docs-start container-max-widths
$beets-container-max-widths: (
  xxl: 1200px
);
// scss-docs-end container-max-widths

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$gutters: $beets-spacers;

// Components
//
// Define common padding and border radius sizes and more.

$border-radius-sm:            .1875rem; // 3px
$border-radius-lg:            .3125rem; // 5px

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:      	Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$fa-font-family: 				"Font Awesome 5 Free";
$fa-font-weight: 				900;

$font-size-base:             	0.875rem; // 14px
// $font-size-base:             	1rem !default;

$h1-font-size:               	$font-size-base * 2.25;
$h2-font-size:                	$font-size-base * 1.875;
$h3-font-size:                	$font-size-base * 1.5;
$h4-font-size:                	$font-size-base * 1.25;
$h5-font-size:                	$font-size-base * 1.125;
$h6-font-size:                	$font-size-base;

$headings-letter-spacing:	  0.04rem;

$beets-display-font-sizes: (
  7: 2rem
);

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding-y:        .6rem;

$table-striped-bg-factor:     .04;

$table-bg-scale:              -80% !default;

$beets-table-variants: (
  "beets":    				shift-color($beets, $table-bg-scale),
  $custom-color-1-name: 	shift-color($custom-color-1, $table-bg-scale),
  $custom-color-2-name: 	shift-color($custom-color-2, $table-bg-scale),
  $custom-color-3-name: 	shift-color($custom-color-3, $table-bg-scale),
);

// Buttons
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-focus-width:         .2rem;

// Forms

$form-label-margin-bottom:              .2rem;

$input-placeholder-color:               $gray-500;

$form-check-input-width:                  1.25em;

$form-switch-width:               2.5em;

// Cards

$card-spacer-y:                     $spacer * 1.5;
$card-spacer-x:                     $spacer * 1.5;
$card-title-spacer-y:               $spacer * 1.5;
$card-cap-bg:                       $white;
$card-cap-padding-y:                $card-spacer-y / 2;
$card-cap-padding-x:                $card-spacer-x;

// Breadcrumbs

$breadcrumb-font-size:              0.75rem;
$breadcrumb-padding-y:              $grid-gutter-width;
// $breadcrumb-divider:                quote("\f105"); // Font Awesome
$breadcrumb-margin-bottom:          0;

// Modals

$modal-inner-padding:               $card-spacer-y;

// $modal-footer-margin-between:       .5rem !default;

// $modal-dialog-margin:               .5rem !default;
// $modal-dialog-margin-y-sm-up:       1.75rem !default;

// $modal-title-line-height:           $line-height-base !default;

// $modal-content-color:               null !default;
// $modal-content-bg:                  $white !default;
// $modal-content-border-color:        rgba($black, .2) !default;
// $modal-content-border-width:        $border-width !default;
// $modal-content-border-radius:       $border-radius-lg !default;
// $modal-content-inner-border-radius: subtract($modal-content-border-radius, $modal-content-border-width) !default;
// $modal-content-box-shadow-xs:       $box-shadow-sm !default;
// $modal-content-box-shadow-sm-up:    $box-shadow !default;

// $modal-backdrop-bg:                 $black !default;
$modal-backdrop-opacity:            .7;
// $modal-header-border-color:         $border-color !default;
// $modal-footer-border-color:         $modal-header-border-color !default;
// $modal-header-border-width:         $modal-content-border-width !default;
// $modal-footer-border-width:         $modal-header-border-width !default;
$modal-header-padding-y:            $card-cap-padding-y;
$modal-header-padding-x:            $card-cap-padding-x;
// $modal-header-padding:              $modal-header-padding-y $modal-header-padding-x !default; // Keep this for backwards compatibility

// $modal-sm:                          300px !default;
// $modal-md:                          500px !default;
// $modal-lg:                          800px !default;
// $modal-xl:                          1140px !default;

// $modal-fade-transform:              translate(0, -50px) !default;
// $modal-show-transform:              none !default;
// $modal-transition:                  transform .3s ease-out !default;
// $modal-scale-transform:             scale(1.02) !default;

// Navs

$nav-tabs-link-active-bg:           $white;